@import "tailwindcss";

.font-english {
  font-family: "Roboto", sans-serif;
}

.font-thai {
  font-family: "Noto Sans Thai Variable", "Noto Sans Thai", sans-serif;
}

.gradient-text {
  background: linear-gradient(
    to bottom right,
    #cda7ff 0%,
    #cda7ff 20%,
    #8b32ff 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-2 {
  background: linear-gradient(
    to bottom right,
    #ffffff 0%,
    #43ffd6 20%,
    #b3ffee 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-3 {
  background: linear-gradient(
    to bottom right,
    #ffecdc 10%,
    #ffa332 50%,
    #ffa332 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-bg {
  background: linear-gradient(
    to bottom right,
    #cda7ff 0%,
    #cda7ff 20%,
    #8b32ff 50%
  );
}

.gradient-bg-alt {
  background: linear-gradient(
    to top right,
    #cda7ff 0%,
    #cda7ff 20%,
    #8b32ff 50%
  );
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, #cda7ff 0%, #cda7ff 20%, #8b32ff 50%)
      border-box;
}
